<!DOCTYPE html>
<html ng-app="nf-builder">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Newsfront Builder</title>

  <!-- Custom CSS -->
  <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"> -->
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
  <link rel="stylesheet" href="./css/font.css">
  <link rel="stylesheet" href="./css/style.css">

</head>
<body ng-controller="MainCtrl">

  <!-- EDITOR OVERLAY -->
  <div class="form-overlay" ng-show="overlay">
    <div class="inside clearfix">
      <i class="icon-x-circle" ng-click="closeEditor()"></i>

      <!-- TOP MENU -->
      <div ng-if="overlay === 'topMenu'">
        <h2>Top Menu</h2>
        <label>Menu bar items</label>
        <textarea ng-model="form.topMenu.barItems" placeholder="Enter the menu items, separated by comma."></textarea>
        <label>Sub menu items</label>
        <textarea ng-model="form.topMenu.subItems"></textarea>
        <label>Description</label>
        <textarea ng-model="form.topMenu.description" placeholder="Describe the menu (color, strings, etc)..."></textarea>
      </div>

      <!-- MAIN MENU -->
      <div ng-if="overlay === 'mainMenu'">
        <h2>Main Menu</h2>
        <label>Menu bar items</label>
        <textarea ng-model="form.mainMenu.barItems" placeholder="Enter the menu items, separated by comma."></textarea>
        <label>Sub menu items</label>
        <textarea ng-model="form.mainMenu.subItems"></textarea>
        <label>Description</label>
        <textarea ng-model="form.mainMenu.description" placeholder="Describe the menu (color, strings, etc)..."></textarea>
      </div>

      <!-- FOOTER -->
      <div ng-if="overlay === 'footer'">
        <h2>Footer</h2>
        <label>Footer Menu items</label>
        <textarea ng-model="form.footer.menuItems"></textarea>
        <label>Tagline</label>
        <input ng-model="form.footer.tagline" type="text">
        <label>Description</label>
        <textarea ng-model="form.footer.description" placeholder="Describe any aspect of the footer..."></textarea>
      </div>

      <!-- CONFIG -->
      <div ng-if="overlay === 'config'">
        <h2>Builder config</h2>
        <br>
        <textarea ng-model="form.conf" style="height: 300px;"></textarea>
      </div>

      <!-- FEATURE -->
      <div ng-if="overlay === 'feature'">
        <h2>Featured Article</h2>
        <label>Title</label>
        <input ng-model="form.feature.title" type="text" value="">
        <label>Description</label>
        <textarea ng-model="form.feature.descrition" placeholder="Describe what content should be loaded here..."></textarea>
      </div>

      <!-- GRID -->
      <div ng-if="overlay === 'grid'">
        <h2>Grid</h2>
        <label>Title</label>
        <input ng-model="form.grid.title" type="text" value="">
        <label>Number of elements</label>
        <input ng-model="form.grid.count" type="text" class="small">
        <label>Description</label>
        <textarea ng-model="form.grid.description" placeholder="Describe what content should be loaded here..."></textarea>
      </div>

      <!-- SMALL GRID -->
      <div ng-if="overlay === 'small-grid'">
        <h2>Small Grid</h2>
        <label>Title</label>
        <input ng-model="form['small-grid'].title" type="text" value="">
        <label>LEFT: Number of elements</label>
        <input ng-model="form['small-grid'].left.count" type="text" class="small">
        <label>RIGHT: Number of elements</label>
        <input ng-model="form['small-grid'].right.count" type="text" class="small">
        <label>Description</label>
        <textarea ng-model="form['small-grid'].description" placeholder="Describe what content should be loaded here..."></textarea>
      </div>

      <!-- LIST -->
      <div ng-if="overlay === 'list'">
        <h2>List</h2>
        <label>Title</label>
        <input ng-model="form.list.title" type="text" value="">
        <label>Number of elements</label>
        <input ng-model="form.list.count" type="text" class="small">
        <label>Description</label>
        <textarea ng-model="form.list.description" placeholder="Describe what content should be loaded here..."></textarea>
      </div>

      <!-- SMALL LIST -->
      <div ng-if="overlay === 'small-list'">
        <h2>Small lists</h2>
        <label>LEFT: Title</label>
        <input ng-model="form['small-list'].left.title" type="text" value="">
        <label>LEFT: Number of elements</label>
        <input ng-model="form['small-list'].left.count" type="text" class="small">
        <label>CENTER: Title</label>
        <input ng-model="form['small-list'].center.title" type="text" value="">
        <label>CENTER: Number of elements</label>
        <input ng-model="form['small-list'].center.count" type="text" class="small">
        <label>RIGHT: Title</label>
        <input ng-model="form['small-list'].right.title" type="text" value="">
        <label>RIGHT: Number of elements</label>
        <input ng-model="form['small-list'].right.count" type="text" class="small">
        <label>Description</label>
        <textarea ng-model="form['small-list'].description" placeholder="Describe what content should be loaded here..."></textarea>
      </div>

      <br>
      <!-- FORM CONTROLS -->
      <div class="right">
        <button class="btn" ng-click="closeEditor()">Cancel</button>
        &nbsp;
        <button class="btn btn-green" ng-click="saveEditor()">Save</button>
      </div>
    </div>
  </div>

  <!-- CREATE SECTION BUTTONS -->
  <div class="create-section">
    <button class="btn btn-orange" ng-click="createSection('feature')">Create feature</button>
    <button class="btn btn-green" ng-click="createSection('grid')">Create grid</button>
    <button class="btn btn-green" ng-click="createSection('small-grid')">Create small grid</button>
    <button class="btn btn-blue" ng-click="createSection('list')">Create list</button>
    <button class="btn btn-blue" ng-click="createSection('small-list')">Create small list</button>
    <button class="btn" ng-click="showEditor('config')">Show config</button>
    <br><br>
    <button class="btn btn-outline" ng-click="clearConfig()">Clear config</button>
  </div>

  <!-- TOP MENU -->
  <div class="top-menu">
    <i class="right icon-widget" ng-click="showEditor('topMenu')" title="Settings"></i>
    <div class="wrapper">
      Newsfront
      <a href="" ng-click="tm=!tm">Meny</a>
      <ul>
        <li ng-repeat="item in conf.topMenu.barItems">{{item}}</li>
      </ul>
    </div>
  </div>
  <div class="sub-menu clearfix" ng-show="tm">
    <ul>
      <li ng-repeat="item in conf.topMenu.subItems">{{item}}</li>
    </ul>
  </div>

  <!-- MAIN MENU -->
  <div class="main-menu">
    <i class="right icon-widget" ng-click="showEditor('mainMenu')" title="Settings"></i>
    <div class="wrapper">
      Forside
      <a href="" ng-click="mm=!mm">Seksjoner</a>
      <ul>
        <li ng-repeat="item in conf.mainMenu.barItems">{{item}}</li>
      </ul>
    </div>
    </div>
  </div>
  <div class="sub-menu clearfix" ng-show="mm">
    <ul>
      <li ng-repeat="item in conf.mainMenu.subItems">{{item}}</li>
    </ul>
  </div>

  <!-- SECTIONS MENU -->
  <div class="wrapper multi-section">
    <section ng-repeat="item in conf.sections">

      <!-- TOOLBOX -->
      <div class="toolbox">
        <a href="" ng-click="showEditor(item.type, $index)" title="Settings">
          <i class="icon-widget"></i>
        </a>
        <br>
        <a href="" ng-click="moveSection($index, -1)" title="Move Up">
          <i class="icon-arrow-up"></i>
        </a>
        <a href="" ng-click="moveSection($index, 1)" title="Move Down">
          <i class="icon-arrow-down"></i>
        </a>
        <br>
        <a href="" ng-click="deleteSection($index)" title="Delete">
          <i class="icon-x-circle"></i>
        </a>
      </div>

      <!-- MAIN FEATURE -->
      <div class="feature clearfix" ng-if="item.type == 'feature'">
        <div class="title" ng-show="item.title">{{item.title}}</div>
        <div class="block">
          <img src="http://placeimg.com/830/400/arch/grayscale">
          <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
          <p>Nullam vitae faucibus tortor, eget pretium ante. Quisque interdum aliquam nunc, vitae semper nibh vehicula id. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
        </div>
      </div>

      <!-- GRID -->
      <div class="large-grid clearfix" ng-if="item.type == 'grid'">
        <div class="title" ng-show="item.title">{{item.title}}</div>
        <div class="block" ng-repeat="i in getArray(item.count)">
          <img src="http://placeimg.com/250/100/arch/grayscale">
          <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
          <p>Nullam vitae faucibus tortor, eget pretium ante. Quisque interdum aliquam nunc, vitae semper nibh vehicula id.</p>
        </div>
      </div>

      <!-- SMALL GRID -->
      <div class="small-grid" ng-if="item.type == 'small-grid'">
        <div class="title" ng-show="item.title">{{item.title}}</div>
        <div class="clearfix">
          <div>
            <div class="block" ng-repeat="i in getArray(item.left.count)">
              <img class="left" src="http://placeimg.com/120/80/nature/grayscale">
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
                <p>Nullam vitae faucibus tortor, eget pretium ante. Quisque interdum aliquam nunc, vitae semper nibh vehicula id.</p>
            </div>
          </div>
          <div>
            <div class="block" ng-repeat="i in getArray(item.right.count)">
              <img class="left" src="http://placeimg.com/120/80/tech/grayscale">
              <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
                <p>Nullam vitae faucibus tortor, eget pretium ante. Quisque interdum aliquam nunc, vitae semper nibh vehicula id.</p>
            </div>
          </div>
        </div>
      </div>

      <!-- LIST -->
      <div class="large-list" ng-if="item.type == 'list'">
        <div class="title" ng-show="item.title">{{item.title}}</div>
        <div class="block" ng-repeat="i in getArray(item.count)">
          <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
        </div>
      </div>

      <!-- SMALL LIST -->
      <div class="small-list" ng-if="item.type == 'small-list'">
        <div class="clearfix">
          <div>
            <div class="title" ng-show="item.left.title">{{item.left.title}}</div>
            <div class="block" ng-repeat="i in getArray(item.left.count)">
              <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
            </div>
          </div>
          <div>
            <div class="title" ng-show="item.center.title">{{item.center.title}}</div>
            <div class="block" ng-repeat="i in getArray(item.center.count)">
              <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
            </div>
          </div>
          <div>
            <div class="title" ng-show="item.right.title">{{item.right.title}}</div>
            <div class="block" ng-repeat="i in getArray(item.right.count)">
              <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div>

  <!-- FOOTER -->
  <div class="footer">
    <i class="right icon-widget" ng-click="showEditor('footer')" title="Settings"></i>
    <div class="wrapper clearfix">
      <div class="logo">Newsfront</div>
      <ul>
        <li ng-repeat="item in conf.footer.menuItems">{{item}}</li>
      </ul>
      <p>{{conf.footer.tagline}}</p>
    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-cookies.js"></script>
  <script src="./js/script.js"></script>
</body>
</html>
