.btn {
  padding: 10px 20px;
  font-size: em(18);
  font-weight: 400;

  border: none;
  border-radius: 7px;
  color: $color-white;
  background-color: $color-grey-dark;
  &:hover, &.active {
    background-color: $color-black !important;
  }

  &.btn-green {
    background-color: $color-green;
    &:hover, &.active {
      background-color: $color-green-dark !important;
    }
    &.btn-outline {
      color: $color-green;
    }
  }

  &.btn-blue {
    background-color: $color-blue;
    &:hover, &.active {
      background-color: $color-blue-dark !important;
    }
    &.btn-outline {
      color: $color-blue;
    }
  }

  &.btn-orange {
    background-color: $color-orange;
    &:hover, &.active {
      background-color: $color-orange-dark !important;
    }
    &.btn-outline {
      color: $color-orange;
    }
  }

  &.btn-outline {
    border: 1px solid $color-grey-dark;
    background-color: $color-grey-light;
    color: $color-grey-dark;
    font-weight: bold;
    &:hover, &.active {
      color: $color-white;
      background-color: $color-grey-dark;
      border: 1px solid $color-white;
    }
  }

  &:focus {
    outline: 0;
  }
}
