
.form-overlay {
  position: fixed;
  z-index: 200;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
  .inside {
    position: relative;
    width: 450px;
    padding: 20px 30px 25px;
    background-color: #f9f9f9;
    margin: 80px auto 0;
    border-radius: 8px;
    font-size: 0.9em;
    i {
      position: absolute;
      right: 2px;
      top: 5px;
      font-size: 28px;
      cursor: pointer;
    }
  }
}

label {
  display: block;
  margin-top: 15px;
}
input[type="text"], textarea {
  display: block;
  margin: 5px 0;
  width: 100%;
  border-radius: 4px;
  padding: 4px;
  border: 1px solid $color-grey-light;
  background-color: $color-white;
  outline: none;
  &.small {
    width: 30%;
  }
}
textarea {
  min-height: 80px;
}
